<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="row">
            <p class="col">A</p>
            <p class="col">B</p>
            <p class="col">C</p>
        </div>
        <div class="row">
            <p class="col-2">D</p>
            <p class="col-10">E</p>
        </div>
        <div class="row">
            <p class="col-10">F</p>
            <p class="col-2">G</p>
        </div>
        <div class="row">
            <p class="col-2">H</p>
            <p class="col-4">I</p>
            <p class="col-4">J</p>
            <p class="col-2">K</p>
        </div>
    </body>
</html>
